
@mixin background-style($path, $position, $bg-size, $repeat, $attachment ) {
    background: url($path) $position/$bg-size $repeat $attachment;
}

@mixin pattern-background($color, $path) {
    background: $color url($path);
}

@mixin overlay($bg-color) {
    background-color: $bg-color;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@mixin rounded-border($amount: 50%) {
    -webkit-border-radius: $amount;
    -moz-border-radius: $amount;
    -o-border-radius: $amount;
    -ms-border-radius: $amount;
    border-radius: $amount;
}

@mixin skewingx($amount ) {
    -webkit-transform: skewX($amount);
    -moz-transform: skewX($amount);
    -o-transform: skewX($amount);
    -ms-transform: skewX($amount);
    transform: skewX($amount);
}

@mixin translatingX($amount: -50%) {
    -webkit-transform: translateX($amount);
    -moz-transform: translateX($amount);
    -o-transform: translateX($amount);
    -ms-transform: translateX($amount);
    transform: translateX($amount);
}


@mixin translatingY($amount: -50%) {
    -webkit-transform: translateY($amount);
    -moz-transform: translateY($amount);
    -o-transform: translateY($amount);
    -ms-transform: translateY($amount);
    transform: translateY($amount);
}

@mixin center-by-translating() {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin transition-time($time: 0.5s, $prop: all) {
    -webkit-transition: $prop $time;
    -moz-transition: $prop $time;
    -o-transition: $prop $time;
    -ms-transition: $prop $time;
    transition: $prop $time;
}

@mixin round-box-shadow($color, $blur: 5px, $sprade: 5px) {
    -webkit-box-shadow: 0 0 $blur $sprade $color;
    -moz-box-shadow: 0 0 $blur $sprade $color;
    -o-box-shadow: 0 0 $blur $sprade $color;
    -ms-box-shadow: 0 0 $blur $sprade $color;
    box-shadow: 0 0 $blur $sprade $color;
}

@mixin widther($length ) {
    @media screen and (min-width: $length) {
        @content;
    }
}

@mixin media-query($length ) {
    @media (max-width: $length) {
        @content;
    }
}

@mixin placeholder-style($color, $font-size: 14px, $font-style: italic) {
    ::-webkit-input-placeholder {
        font-style: $font-size;
        font-style: $font-style;
        color: $color;
    }

    :-moz-placeholder {
        font-style: $font-size;
        font-style: $font-style;
        color: $color;
    }

    ::-moz-placeholder {
        font-style: $font-size;
        font-style: $font-style;
        color: $color;
    }

    :-ms-input-placeholder {
        font-style: $font-size;
        font-style: $font-style;
        color: $color;
    }
}


@mixin linear-gradient-bg($direction, $gradients...) {
    background: -webkit-linear-gradient($direction, $gradients);
    background: -moz-linear-gradient($direction, $gradients);
    background: -o-linear-gradient($direction, $gradients);
    background: -ms-linear-gradient($direction, $gradients);
    background: linear-gradient($direction, $gradients);
}
// 
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



// fonts
$base-font-size: 15;
$base-font: "Rubik", sans-serif;
$heading-font: 'Cormorant';



// color
$dark-gray: #1C263A;
$body-color: #5D666F;
$white: #fff;
$light: #8188a9;
$black: #000;
$small-black: #333;
$cyan: #848892;

$theme-primary-color: #064ACB;
$theme-primary-color2: #F3A952;
$theme-primary-color3: #EC2526;
$body-bg-color: #fff;
$section-bg-color: #ECF3F7;
$section-bg-color-s2: #F9F9F9;
$section-bg-color-s3: #DFF8FF;
$section-bg-color-s4: #F5F5F5;
$text-color: #707070;
$text-light-color: #7b7b7b;
$heading-color: $dark-gray;
$heading-color2: #3F3F3F;
$border-color: rgba(93, 102, 111, 0.15);
$border-color-s2: #E9ECEF;
$theme-gradient: linear-gradient(90deg, #F3A952 0%, #064ACB 82.79%);
// 

.btn-style-1,
.btn-style-2,
.small-btn-style {
    background: $theme-primary-color;
    border: 0;
    border-radius: 30px;
    color: #1a1729;
    display: inline-block;
    font-family: $heading-font;
    font-size: 18px;
    font-weight: 500;
    font-weight: 600;
    padding: 15px 35px;
    padding-right: 70px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
    color: $white;
    overflow: hidden;
    text-decoration: none;

    &:before {
        background: #fff;
        border-radius: 30px;
        content: "\e932";
        font-family: 'icomoon';
        height: 46px;
        line-height: 46px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: 5px;
        width: 46px;
        color: $dark-gray;
        font-size: 12px;
    }

    &:after {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: "";
        border-radius: 100px;
        background: darken($theme-primary-color, 8);
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    }

    &.btn-style-1-s3 {
        width: 100%;
        height: 100%;
        background: $white;
        color: $theme-primary-color;

        &:after {
            border: 1px solid $white;
        }
    }

    &.btn-style-1-s4 {
        background: $theme-primary-color;
        color: $white;

        &:after {
            border: 1px solid $theme-primary-color;
        }
    }

    &:hover,
    &:focus,
    &:active {
        color: $white;

        &:after {
            left: 0%;
            right: auto;
            width: 100%;
        }
    }

    &:hover:after {
        opacity: 1;
    }

    @include media-query(991px) {
        font-size: 18px;
        font-size: calc-rem-value(18);
    }

    @include media-query(767px) {
        padding: 10px 18px;
        padding-right: 40px;
        font-size: 14px;

        &:before {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 7px;
            right: 10px;
            top: 10px;
        }
    }
}

.btn-style-2 {
    background: $white;
    border-color: $dark-gray;
    color: $dark-gray;


    &:before {
        background-color: $theme-primary-color;
        color: $white;
    }

    &:hover {
        color: $dark-gray;
    }
}

.small-btn-style {
    padding: 5px 12px;
    font-size: 14px;
    padding-right: 35px;
    background: $white;
    border-color: $dark-gray;
    color: $dark-gray;

    &:before {
        background-color: $theme-primary-color;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: $white;
        font-size: 7px;

        @include media-query(767px) {
            top: 6px;
            right: 6px;
        }
    }

    &:hover {
        color: $dark-gray;

        &:after {
            background: darken($white, 8);
        }
    }

    &.primary {
        background: $theme-primary-color;
        color: $white;

        &:before {
            background-color: $white;
            color: $dark-gray;
        }

        &:after {
            background: darken($theme-primary-color, 8);
        }

    }
}